<header class="w-full fixed py-7 shadow-lg z-10 bg-white">
    <div class="_container">
        <div class="flex justify-between items-center">
            <a href="/" class="text-3xl font-semibold"
                >Yummy<span class="text-primary">.</span>
            </a>
            <ul class="hidden lg:flex items-center gap-x-8">
                <li><a href="/home" class="font-semibold">Home</a></li>
                <li><a href="/about" class="font-semibold">About</a></li>
                <li><a href="/menu" class="font-semibold">Menu</a></li>
                <li><a href="/event" class="font-semibold">Event</a></li>
                <li><a href="/chefs" class="font-semibold">Chefs</a></li>
                <li><a href="/gallery" class="font-semibold">Gallery</a></li>
                <li><a href="/contact" class="font-semibold">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
