<div class="hero min-h-screen bg-neutral">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-white text-5xl font-bold">Hello there</h1>
            <p class="text-white py-6 roboto-regular-italic">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut
                assumenda excepturi exercitationem quasi. In deleniti eaque aut
                repudiandae et a id nisi.
            </p>
            <button class="btn btn-primary">Get Started</button>

            <input
                type="text"
                placeholder="Type here"
                class="ml-1 input input-bordered w-full max-w-xs"
            />
        </div>
    </div>
</div>
