---
import { Image } from "astro:assets";
import Section from "../components/Section.astro";
import reservationImg from "../assets/img/reservation.webp";
---

<Section>
    <div class="text-center mb-14">
        <h2 class="text-smoke uppercase text-sm mb-2">BOOK A TABLE</h2>
        <p class="amatic-sc-regular text-5xl">
            Book <span class="text-primary">Your Stay</span> With Us
        </p>
    </div>
    <div class="grid lg:grid-cols-3">
        <div class="lg:col-span-1">
            <Image
                src={reservationImg}
                alt="Reservation Image"
                loading="lazy"
            />
        </div>
        <div class="lg:col-span-2">
            <div class="w-full bg-dim h-full px-8 py-16 lg:py-0">
                <form action="" class="h-full flex flex-col justify-center">
                    <div class="text-center">
                        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
                            <div class="text-start md:col-span-1">
                                <label for="name">Name</label>
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    placeholder="Your Name"
                                />
                            </div>
                            <div class="text-start md:col-span-1">
                                <label for="email">Email</label>
                                <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    placeholder="Your Email"
                                />
                            </div>
                            <div class="text-start md:col-span-1">
                                <label for="phone">Phone</label>
                                <input
                                    type="text"
                                    name="phone"
                                    id="phone"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    placeholder="Your Phone"
                                />
                            </div>
                            <div class="text-start md:col-span-1">
                                <label for="date">Date</label>
                                <input
                                    type="text"
                                    name="date"
                                    id="date"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    placeholder="Date"
                                />
                            </div>
                            <div class="text-start md:col-span-1">
                                <label for="time">Time</label>
                                <input
                                    type="text"
                                    name="time"
                                    id="time"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    placeholder="Time"
                                />
                            </div>
                            <div class="text-start md:col-span-1">
                                <label for="numberOfPeople"># of People</label>
                                <input
                                    type="number"
                                    name="numberOfPeople"
                                    id="numberOfPeople"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    placeholder="# of people"
                                />
                            </div>
                            <div class="text-start md:col-span-2 lg:col-span-3">
                                <label for="message">Message</label>
                                <textarea
                                    name="message"
                                    id="message"
                                    class="p-2.5 rounded w-full border focus:outline-none focus:border-primary focus:ring-primary focus:ring-1"
                                    rows="5"></textarea>
                            </div>
                        </div>
                        <button
                            type="submit"
                            class="text-white bg-primary px-12 py-3 rounded-3xl mx-auto mt-5"
                            >Book A Table</button
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</Section>
