---
import { Image } from "astro:assets";
import Section from "../components/Section.astro";

import chefImg1 from "../assets/img/chefs/chefs-1.jpg";
import chefImg2 from "../assets/img/chefs/chefs-2.jpg";
import chefImg3 from "../assets/img/chefs/chefs-3.jpg";
---

<Section className="bg-dim">
    <div class="text-center mb-14">
        <h2 class="text-smoke uppercase text-sm mb-2">CHEFS</h2>
        <p class="amatic-sc-regular text-5xl">
            Our <span class="text-primary">Proffesional</span> Chefs
        </p>
    </div>
    <!------Chef 1 -->
    <div
        class="grid md:grid-cols-2 lg:grid-cols-3 gap-y-5 lg:gap-y-0 md:gap-x-7"
    >
        <div
            class="bg-white text-center rounded-xl transition-all duration-300 hover:scale-110"
        >
            <Image
                src={chefImg1}
                alt="Image of first chef"
                class="w-full rounded-xl"
            />
            <div class="p-8">
                <h4 class="text-xl font-semibold mb-1">Walter White</h4>
                <small class="text-smoke">MasterChef</small>
                <p class="py-4 text-smoke italic text-sm leading-relaxed">
                    Velit aut quia fugit et et. Dolorum ea voluptate vel tempore
                    tenetur ipsa quae aut. Ipsum exercitationem iure minima enim
                    corporis et voluptate.
                </p>
            </div>
        </div>
        <!------Chef 2 -->
        <div
            class="bg-white text-center rounded-xl transition-all duration-300 hover:scale-110"
        >
            <Image
                src={chefImg2}
                alt="Image of first chef"
                class="w-full rounded-xl"
            />
            <div class="p-8">
                <h4 class="text-xl font-semibold mb-1">Sarah Jhonson</h4>
                <small class="text-smoke">Patissier</small>
                <p class="py-4 text-smoke italic text-sm leading-relaxed">
                    Quo esse repellendus quia id. Est eum et accusantium
                    pariatur fugit nihil minima suscipit corporis. Voluptate sed
                    quas reiciendis animi neque sapiente.
                </p>
            </div>
        </div>
        <!------Chef 3 -->
        <div
            class="bg-white text-center rounded-xl transition-all duration-300 hover:scale-110"
        >
            <Image
                src={chefImg3}
                alt="Image of first chef"
                class="w-full rounded-xl"
            />
            <div class="p-8">
                <h4 class="text-xl font-semibold mb-1">William Doe</h4>
                <small class="text-smoke">Cook</small>
                <p class="py-4 text-smoke italic text-sm leading-relaxed">
                    Vero omnis enim consequatur. Voluptas consectetur unde qui
                    molestiae deserunt. Voluptates enim aut architecto porro
                    aspernatur molestiae modi.
                </p>
            </div>
        </div>
    </div>
</Section>
