---
import Section from "../components/Section.astro";

const galleryImages = [
    "gallery-1.webp",
    "gallery-2.webp",
    "gallery-3.webp",
    "gallery-4.webp",
    "gallery-5.webp",
    "gallery-6.webp",
    "gallery-7.webp",
    "gallery-8.webp",
];
---

<Section id="gallery" className="bg-dim">
    <div class="text-center mb-14">
        <h2 class="text-smoke uppercase text-sm mb-2">Gallery</h2>
        <p class="amatic-sc-regular text-5xl">
            Check <span class="text-primary">Our Gallery</span>
        </p>
    </div>
    <div class="swiper gallery-slides">
        <div class="swiper-wrapper">
            {
                galleryImages.map((i) => (
                    <div class="swiper-slide">
                        <a
                            href={`/img/gallery/${i}`}
                            data-gallery="gallery-images"
                            class="gallery-lightbox"
                        >
                            <img
                                src={`/img/gallery/${i}`}
                                alt={i}
                                loading="lazy"
                            />
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</Section>

<script is:inline type="module">
    new Swiper(".gallery-slides", {
        // Optional parameters
        speed: 600,
        direction: "horizontal",
        loop: true,

        slidesPerView: "auto",
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 20,
            },

            768: {
                slidesPerView: 3,
                spaceBetween: 20,
            },

            992: {
                slidesPerView: 5,
                spaceBetween: 20,
            },
        },

        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
        },

        // If we need pagination
        // pagination: {
        //     el: ".swiper-pagination",
        //     clickable: true,
        //     bulletActiveClass: "swiper-pagination-bullet-active bg-primary",
        // },
    });

    GLightbox({
        selector: ".gallery-lightbox",
    });
</script>
