---
import { Icon } from "astro-icon/components";
---

<section class="py-16 bg-dim">
    <div class="_container">
        <div class="grid gap-y-7 xl:grid-cols-3 xl:gap-x-5 items-center">
            <div class="col-span-1">
                <div class="p-10 bg-primary">
                    <h3 class="text-4xl text-white font-semibold mb-7">
                        Why Choose Yummy?
                    </h3>
                    <p class="text-white mb-7">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Duis aute irure dolor in reprehenderit
                        Asperiores dolores sed et. Tenetur quia eos. Autem
                        tempore quibusdam vel necessitatibus optio ad corporis.
                    </p>
                    <button class="bg-white px-8 py-3 rounded-3xl"
                        >Get Started</button
                    >
                </div>
            </div>
            <div class="col-span-2">
                <div class="grid gap-y-7 xl:grid-cols-3 gap-x-5">
                    <div class="col-span-1">
                        <div
                            class="py-10 px-7 bg-white text-center flex flex-col items-center"
                        >
                            <Icon
                                name="mdi:clipboard-text-multiple"
                                class="text-4xl text-primary mb-7 text-center"
                            />
                            <h4 class="text-xl mb-7">
                                Corporis ipsum dolor voluptates.
                            </h4>
                            <p class="text-smoke mb-4">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Quas voluptates sed delectus
                                quis, nulla aliquam!
                            </p>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div
                            class="py-10 px-7 bg-white text-center flex flex-col items-center"
                        >
                            <Icon
                                name="mdi:clipboard-text-multiple"
                                class="text-4xl text-primary mb-7 text-center"
                            />
                            <h4 class="text-xl mb-7">
                                Corporis ipsum dolor voluptates.
                            </h4>
                            <p class="text-smoke mb-4">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Quas voluptates sed delectus
                                quis, nulla aliquam!
                            </p>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div
                            class="py-10 px-7 bg-white text-center flex flex-col items-center"
                        >
                            <Icon
                                name="mdi:clipboard-text-multiple"
                                class="text-4xl text-primary mb-7 text-center"
                            />
                            <h4 class="text-xl mb-7">
                                Corporis ipsum dolor voluptates.
                            </h4>
                            <p class="text-smoke mb-4">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Quas voluptates sed delectus
                                quis, nulla aliquam!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
