---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { pageSubTitle } = Astro.props;
---

<Layout pageSubTitle={pageSubTitle}>
    <Navbar />
    <main>
        <slot />
    </main>
    <Footer />
</Layout>
